services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASS}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_DB: ${DATABASE_NAME}
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    networks:
      - diary
    volumes:
      - postgres-data:/data/postgres

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    entrypoint: ["/bin/sh", "/minio-init.sh"]
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${BUCKET_ACCESS_ID}
      MINIO_ROOT_PASSWORD: ${BUCKET_SECRET_KEY}
      BUCKET_NAME: ${BUCKET_NAME}
      MINIO_NOTIFY_WEBHOOK_ENABLE_PRIMARY: on
      MINIO_NOTIFY_WEBHOOK_ENDPOINT_PRIMARY: ${BUCKET_WEBHOOK_URL}
      MINIO_NOTIFY_WEBHOOK_AUTH_TOKEN_PRIMARY: ${BUCKET_WEBHOOK_TOKEN}
      MINIO_API_CORS_ALLOW_ORIGIN: ${BUCKET_API_CORS_ALLOW_ORIGIN}
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1
      interval: 5s
      retries: 1
      start_period: 5s
      timeout: 5s
    volumes:
      - minio-data:/data
      - ./scripts/minio-init.sh:/minio-init.sh:ro
    networks:
      - diary

networks:
  diary:

volumes:
  postgres-data:
  minio-data:
